@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300&family=Roboto&display=swap');

:root {
    --white-color:  hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue:  hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    width: 1440px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}





.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 260px;
    height: 450px;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 10px 5px;

    
}

img {
    width: 240px;
    height: 210px;
    border-radius: 10px;
    
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
    
}

.content-section h3 {

    font-weight: 700;

}

.content-section p {
    color: var(--gray-blue);
    font-weight: 700;
}

footer { 
    font-size: .75rem; 
    text-align: center; 
    margin-top: 10px;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}
