@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300&family=Roboto&display=swap');

:root {
    --white-color:  hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue:  hsl(218, 44%, 22%);
    --font-size-p: 15px;
}

body {
    font-family: "Barlow", sans-serif;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}